:root {
  --bg-primary-color: #f5f5f5;
  --bg-secondary-color: #f5f4fa;
  --bg-tertiary-color: #ffffff;
  --bg-hero-color: #2f303a;
  --bg-footer-color: #2f303a;
  --bg-button-secondary-color: #2196f3;
  --bg-hover-color: #2196f3;

  --text-primary-color: #757575;
  --text-secondary-color: #212121;
  --text-hover-color: #2196f3;
  --text-tertiary-color: #ffffff;
  --text-contacts-color: rgba(255, 255, 255, 0.6);

  --logo-primary-color: #2196f3;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;

  --main-font: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}
/* Header */
/* Logo` */
.header {
  background-color: var(--bg-tertiary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--logo-primary-color);
  font-size: 26px;
  line-height: 1.19;
}
.logo-header {
  color: var(--logo-header-color);
}
.logo-footer {
  color: var(--logo-footer-color);
}
/* Navigation */
.nav-list {
  color: var(--text-secondary-color);
}
.contact-list {
}
.nav-list-item:hover,
.contact-list-item:hover {
  color: var(--text-hover-color);
}
/* body {
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color); */

/* Main */
.title {
  color: var(--text-secondary-color);
}
/* Hero */
.hero {
  background-color: var(--bg-hero-color);
}
.hero-title {
  color: var(--text-tertiary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-order {
  background-color: var(--bg-button-secondary-color);
  color: var(--text-tertiary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Speciality */
.speciality-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.speciality-description {
  font-size: 14px;
  line-height: 1.71;
}
/* What we do */
.wwd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Our team */
.team {
  background-color: var(--bg-secondary-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-member {
  background-color: var(--bg-tertiary-color);
  width: 270px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-member-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Footer */
.footer {
    background-color: var(--bg-footer-color);
}
.address-item {
    color: var(--text-tertiary-color);
    font-size: 14px;
line-height: 1.71;
}
.footer .contact-list-item {
    color: var(--text-contacts-color);
    font-size: 14px;
line-height: 1.71;
}